/*GLOBAL CSS*/

* {
  margin: 0;
  padding: 0;

  h1 {
    color: white;
  }

  h2 {
    color: #a306b6;
<<<<<<< HEAD
    font-size: 50px;
=======
    font-size: 3.125rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
  }
  button {
    color: white;
    background-color: #a306b6;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
  }

  a {
    font-weight: bold;
  }
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

a,
p {
  font-family: "Source sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  text-decoration: none;
}

/*HEADER CSS */

header {
  background-color: A306B6;
  width: auto;
  height: auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  color: white;
<<<<<<< HEAD
  padding: 10px;
}

.logo-nav {
  width: 50px;
  height: 50px;
=======
  padding: 0.625rem;
}

.logo-nav {
  width: 3.125rem;
  height: 3.125rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
}

.ul-nav {
  display: flex;
  justify-content: space-between;

  li {
<<<<<<< HEAD
    margin: 20px 40px;
=======
    margin: 1.25rem 2.5rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  h1 {
<<<<<<< HEAD
    font-size: 50px;
  }

  img {
    max-width: 240px;
    background-color: rgb(255, 255, 255);
    border: 8px solid white;
    border-radius: 50%;
    margin-bottom: 1.25rem;
=======
    font-size: 3.125rem;
  }

  img {
    max-width: 15rem;
    background-color: rgb(255, 255, 255);
    border: 0.5rem solid white;
    border-radius: 50%;
    margin-bottom: 20px;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
  }
}

/* MAIN CSS */

main {
  height: auto;
  display: flex;
  flex-direction: column;
}

/* SECTION CSS */

/* FIRST SECTION */

.first-section {
  height: 50%;
<<<<<<< HEAD
  margin-bottom: 100px;
=======
  margin-bottom: 6.25rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
<<<<<<< HEAD
    padding: 30px;
=======
    padding: 1.875rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
  }
}

.card-container {
  display: flex;
  justify-content: center;
  height: 100%;

  .card {
    background-color: #d9d9d9;
<<<<<<< HEAD
    border-radius: 10px;
    margin: 0 20px;
    width: 18.75rem;
    height: 320px;
=======
    border-radius: 0.625rem;
    margin: 0 1.25rem;
    width: 300px;
    height: 20rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
<<<<<<< HEAD
      padding-bottom: 10px;
      font-size: 25px;
=======
      padding-bottom: 0.625rem;
      font-size: 1.5625rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
    }

    button {
      width: 30%;
<<<<<<< HEAD
      padding: 8px;
      margin-bottom: 10px;
      border: 0px;
      border-radius: 32px;
=======
      padding: 0.5rem;
      margin-bottom: 0.625rem;
      border: 0rem;
      border-radius: 2rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
    }
  }
}
.card1 .card-img {
  background: url(./images/responsive.png) no-repeat center;
  background-size: contain;
  height: 100%;
}

.card2 .card-img {
  background: url(./images/scalable.png) no-repeat center;
  background-size: contain;
  height: 100%;
}

.card3 .card-img {
  background: url(./images/inclusive.png) no-repeat center;
  background-size: contain;
  height: 100%;
}

/* SECOND SECTION */

.second-section {
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    height: 60%;
    width: 30%;
<<<<<<< HEAD
    margin: 1.875rem;
=======
    margin: 30px;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
    color: black;
    overflow-wrap: break-word;
  }

  p:first-of-type {
<<<<<<< HEAD
    margin-bottom: -5px;
=======
    margin-bottom: -0.3125rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
<<<<<<< HEAD
  margin-top: 20px;
=======
  margin-top: 1.25rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d

  a {
    color: #a306b6;
  }

  p {
    color: black;
    text-align: center;
  }

  p:first-of-type {
<<<<<<< HEAD
    margin-top: 30px;
  }

  p:last-of-type {
    margin-bottom: 30px;
=======
    margin-top: 1.875rem;
  }

  p:last-of-type {
    margin-bottom: 1.875rem;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
  }
}

/* RESPONSIVE */

<<<<<<< HEAD
@media only screen and (max-width: 62rem) {
=======
@media only screen and (max-width: 992px) {
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
  .nav-header {
    flex-direction: column;

    .logo-nav {
      align-self: center;
<<<<<<< HEAD
      height: 96px;
      width: 96px;
      margin-bottom: -1.875rem;
=======
      height: 6rem;
      width: 6rem;
      margin-bottom: -30px;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
    }

    .ul-nav {
      justify-content: center;
      font-size: 1.875rem;
    }
  }

  .header-container {
    flex-direction: column-reverse;
    height: auto;
    h1 {
<<<<<<< HEAD
      margin-top: 1.25rem;
      margin-right: 0;
    }
    img {
      height: 192px;
      margin-left: 0rem;
      border: 3.2px solid white;
=======
      margin-top: 20px;
      margin-right: 0;
    }
    img {
      height: 12rem;
      margin-left: 0px;
      border: 0.2rem solid white;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
    }
  }

  .card-container {
    flex-direction: column;
    align-items: center;

    .card {
      width: 90%;
<<<<<<< HEAD
      height: 800px;
      margin-bottom: 3.125rem;
=======
      height: 50rem;
      margin-bottom: 50px;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
    }

    .content-card {
      h3 {
<<<<<<< HEAD
        font-size: 48px;
        margin-bottom: 1.25rem;
      }

      button {
        margin-bottom: 1.25rem;
        padding: .9375rem;
        width: 20%;
        font-size: 1.875rem;
=======
        font-size: 3rem;
        margin-bottom: 20px;
      }

      button {
        margin-bottom: 20px;
        padding: 15px;
        width: 20%;
        font-size: 30px;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
      }
    }
  }

  .second-section {
    h2 {
<<<<<<< HEAD
      margin-top: -6.25rem;
=======
      margin-top: -100px;
>>>>>>> c3942f01cc2f650a6408109438962d552b21829d
    }

    p {
      width: 90%;
    }
  }
}
